@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default width for mobile screens */
.dynamic-logo {
  width: 160px;
}

/* Base styles */
.hero-bottom-text {
  position: absolute;
  bottom: 18%;
  right: 15%;
  width: 100%;
}

/* Media queries for various screen sizes, including very small screens */
@media screen and (min-width: 300px) and (max-width: 359px) {
  .hero-bottom-text {
    bottom: 16%;
    right: 12%;
    font-size: 0.75rem;
  }
  .small-style {
    padding-left: 0px;
    padding-right: 0px;

  }
}

@media screen and (min-width: 360px) and (max-width: 409px) {
  .hero-bottom-text {
    bottom: 14%;
    right: 15%;
  }
  .small-style {
    padding-left: 0px;
    padding-right: 0px;

  }
}

@media screen and (min-width: 410px) and (max-width: 430px) {
  .hero-bottom-text {
    bottom: 13%;
    right: 18%;
    align-items: center;
  }
  .small-style {
    padding-left: 0px;
    padding-right: 0px;

  }
}

@media screen and (min-width: 480px) {
  .hero-bottom-text {
    bottom: 10%;
    right: 22%;
    align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .hero-bottom-text {
    bottom: 7%;
    right: 22%;
    align-items: center;
  }
  .small-style {
    padding-left: 4px;
    padding-right: 4px;

  }
}

@media screen and (min-width: 768px) {
  .hero-bottom-text {
    bottom: 9%;
    right: 22%;
  }
  .dynamic-logo {
    width: 120px;
  }
  .md-lg-dynamic-padding {
    padding: var(--md-lg-padding, 18px);
  }
  .small-style {
    padding-left: 4px;
    padding-right: 4px;

  }
}

@media screen and (min-width: 1024px) {
  .hero-bottom-text {
    bottom: 22%;
    right: 5%;
    width: auto;
  }
  .dynamic-logo {
    width: var(--logo-width, 120px);
  }
  .md-lg-dynamic-padding {
    padding: var(--md-lg-padding, 18px);
  }
}

@media screen and (min-width: 1280px) {
  .hero-bottom-text {
    bottom: 20%;
    right: 7%;
  }
}

@media screen and (min-width: 1536px) {
  .hero-bottom-text {
    bottom: 14%;
    right: 7%;
  }
}


@media screen and (min-width: 2000px) {
  .positioning {
    --tw-translate-x: -36%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

/* Adjustments for hero section bottom margin */
@media screen and (max-width: 479px) {
  .hero-section {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-section {
    margin-bottom: 3rem;
  }
}